/*//$navBackgroundColor:  rgba(255, 126, 0, 0.4);*/

/*NavBar*/

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  border-bottom: 4px solid #b9c832;
  padding-bottom: 11px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 5px;
  width: auto;
}

/*End NavBar End*/

/*JS Scroll class*/

.navOnTop {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.2);
}

.nacScrolling {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0.4);
}

.nav-tabs li {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-tabs li a {
  color: #777;
}

.nav-tabs li a :hover,
.nav-tabs li a :active,
.nav-tabs li a :visited,
.nav-tabs li a :focus {
  color: #777;
}

.cd-top {
  color: #fff;
  background: black;
  display: inline-block;
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  padding-top: 6px;
  font-size: 22px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  overflow: hidden;
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cd-top :hover,
.cd-top :active,
.cd-top :visited,
.cd-top :focus {
  color: #fff;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 45px;
    width: 45px;
    right: 30px;
    bottom: 30px;
  }
}

body {
  /*	// background: $BodyBackgroundColor;*/
}

/*header Area*/

#homeHeader {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-size: contain;*/
  /*background-attachment: fixed;*/
  background-position: center top;
}

#homeHeader .headerImage {
  /*background: $workItemMaskColor;*/
  padding-top: 120px;
}

.themeStyleBtn {
  background-color: #b9c832;
}

.themeDarkerStyleBtn {
  background-color: #6e695f;
}

.themeStyleBtn,
.themeDarkerStyleBtn {
  color: #fff;
}

.themeStyleBtn :hover,
.themeStyleBtn :active,
.themeStyleBtn :visited,
.themeStyleBtn :focus,
.themeDarkerStyleBtn :hover,
.themeDarkerStyleBtn :active,
.themeDarkerStyleBtn :visited,
.themeDarkerStyleBtn :focus {
  color: #fff;
}

/*End header Area*/

/*introContent*/

#introContent {
  border-top: 8px solid #b9c832;
  text-align: center;
  color: #6e695f;
}

#introContent .introContentBlock {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 40px;
}

#introContent .introContentHr {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #b9c832;
  width: 40%;
}

#introContent .introContentWord {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  color: #777;
}

#introContent .introContentImage {
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

#introContent .introLink {
  color: #333;
}

#introContent .introLink :hover,
#introContent .introLink :active,
#introContent .introLink :visited,
#introContent .introLink :focus {
  color: #b9c832;
}

#introContent .introContentBlock:hover {
  background: #efefef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

#introContent .contactUsBtn {
  margin-top: 20px;
}

#introContent h4 {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.PT-2Column h2,
#works h2,
#worksItem h2 {
  border-left: 5px solid #b9c832;
  padding-left: 15px;
  color: #6e695f;
  margin-bottom: 20px;
}

/*End introContent*/

/**/

.PT-2Column,
#worksItem,
#serviceIntro {
  margin-top: 40px;
}

.PT-2Column img,
#worksItem img,
#serviceIntro img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}

.PT-2Column h2,
.PT-2Column p,
.PT-2Column li,
#worksItem h2,
#worksItem p,
#worksItem li,
#serviceIntro h2,
#serviceIntro p,
#serviceIntro li {
  color: #6e695f;
}

.PT-2Column hr,
#worksItem hr,
#serviceIntro hr {
  border-top: 1px solid #b9c832;
}

.PT-2Column ul,
#worksItem ul,
#serviceIntro ul {
  padding-left: 20px;
}

.PT-2Column ul li,
#worksItem ul li,
#serviceIntro ul li {
  padding-top: 15px;
}

.PTReadMoreBtn {
  list-style: none;
  text-align: right;
}

.backgroundVisualError {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  margin-bottom: 40px;
}

.backgroundVisualError .BVE-Block {
  height: 500px;
  padding-top: 150px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
}

.backgroundVisualError .BVE-Block hr {
  border-top: 1px solid #b9c832;
}

.backgroundVisualError .BVE-Block ul {
  padding-left: 20px;
}

.backgroundVisualError .BVE-Block ul li {
  padding-top: 15px;
}

/**/

/*works item style*/

#works {
  padding-top: 20px;
}

#works hr {
  border-top: 1px solid #b9c832;
}

#works .worksContentHr {
  margin-top: 10px;
  margin-bottom: 1 10px;
  border-top: 1px solid #b9c832;
  width: 40%;
}

#works .circleMore {
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  display: block;
  height: 50px;
  width: 50px;
  padding-top: 16px;
  border-radius: 50%;
}

#works .circleMore :hover,
#works .circleMore :active,
#works .circleMore :visited,
#works .circleMore :focus {
  color: #fff;
}

.worksItem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 20px;
}

.worksItem .worksContentmask,
.worksItem .worksItemLink {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.worksItem img {
  display: block;
  position: relative;
}

.worksItem .worksContentTitle {
  color: #fff;
  text-align: center;
  position: relative;
  margin: 120px 0 0 0;
}

.worksItem .worksContentTitle p {
  font-size: 24px;
}

.worksItem .circleMore {
  position: relative;
  overflow: hidden;
  display: block;
  top: 0;
}

.worksItem a.info {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: transparent;
}

.worksItem a.info :hover,
.worksItem a.info :active,
.worksItem a.info :visited,
.worksItem a.info :focus {
  color: #fff;
}

.worksItem .worksContentDesc {
  color: #fff;
}

/*End works item style*/

/*works item animation*/

.worksItem img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.worksItem .worksContentmask {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.worksItem .worksContentTitle {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.worksItem .worksContentDesc {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.worksItem .circleMore {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.worksItem a.info {
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.worksItem:hover img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.worksItem:hover .worksContentmask {
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.worksItem:hover .worksContentTitle {
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.worksItem:hover .worksContentDesc,
.worksItem:hover .circleMore {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.worksItem:hover a.info {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}

#homeFoot {
  padding-top: 20px;
  padding-bottom: 20px;
}

#homeFoot hr {
  border-top: 1px solid #b9c832;
}

#homeFoot .circleMore {
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  display: block;
  height: 50px;
  width: 50px;
  padding-top: 16px;
  border-radius: 50%;
}

#homeFoot .circleMore :hover,
#homeFoot .circleMore :active,
#homeFoot .circleMore :visited,
#homeFoot .circleMore :focus {
  color: #fff;
}

.homeFootItem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 20px;
}

.homeFootItem .homeFootContentmask,
.homeFootItem .homeFootItemLink {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.homeFootItem img {
  display: block;
  position: relative;
}

.homeFootItem .homeFootContentTitle {
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.homeFootItem .homeFootContentTitle p {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.homeFootItem .homeFootContentTitle hr {
  width: 20%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.homeFootItem .circleMore {
  position: relative;
  overflow: hidden;
  display: block;
  top: 0;
}

.homeFootItem a.info {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: transparent;
}

.homeFootItem a.info :hover,
.homeFootItem a.info :active,
.homeFootItem a.info :visited,
.homeFootItem a.info :focus {
  color: #fff;
}

.homeFootItem .homeFootContentDesc {
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.homeFootItem img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.homeFootItem .homeFootContentmask {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.homeFootItem .homeFootContentTitle {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.homeFootItem .homeFootContentDesc {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.homeFootItem .circleMore {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.homeFootItem a.info {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}

.homeFootItem:hover img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.homeFootItem:hover .homeFootContentmask {
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.homeFootItem:hover .homeFootContentTitle {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.homeFootItem:hover .homeFootContentDesc,
.homeFootItem:hover .circleMore {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}

.homeFootItem:hover a.info {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}

/*End works item animation*/

/*footer*/

footer {
  font-size: 13px;
  border-top: 8px solid #ccc;
  padding-top: 40px;
  margin-top: 40px;
}

footer .footLogo {
  color: #777;
}

footer .footLogo a img {
  padding-bottom: 5px;
}

footer .footRightArea {
  text-align: left;
  padding-bottom: 20px;
}

footer .footRightArea h5 {
  margin: 0;
}

footer .footRightArea ul {
  padding: 0;
}

footer .footRightArea li {
  list-style: none;
  line-height: 24px;
}

footer .footRightArea li a {
  color: #777;
}

footer .footRightArea li a :hover,
footer .footRightArea li a :active,
footer .footRightArea li a :visited,
footer .footRightArea li a :focus {
  color: #777;
}

footer .footRightArea .footHr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -10px;
  border-top: 2px solid #333;
  width: 100%;
}

footer .footCopyright {
  background: #6e695f;
  color: white;
  padding-top: 15px;
  padding-bottom: 8px;
  clearfix: auto;
}

/*End footer*/

/**/

#contentHeader {
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  color: #fff;
  margin-bottom: 10px;
  padding-top: 90px;
}

#contentHeaderBlock {
  float: right;
  width: 30%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 50px 50px 50px;
}

#contentHeaderBlock h2 {
  font-weight: normal;
  margin-top: 0px;
  padding-top: 0px;
}

#contentHeaderBlock hr {
  border-top: 1px solid #b9c832;
  margin-top: 5px;
  margin-bottom: 5px;
}

#contentHeaderBlock p {
  text-transform: capitalize;
}

#pageNav {
  border-bottom: 1px solid #ccc;
  color: #6e695f;
}

#pageNav ul {
  margin-bottom: 0px;
}

#pageNav ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#pageNav ul li a {
  color: #ccc;
  text-decoration: none;
}

#pageNav ul li a :hover {
  color: #6e695f;
}

#pageNav ul li a :active,
#pageNav ul li a :visited,
#pageNav ul li a :focus {
  color: #ccc;
}

#pageNav ul li:hover {
  border-bottom: 1px solid #6e695f;
}

#pageNav ul li:hover a {
  color: #6e695f;
}

#pageNav ul .active {
  border-bottom: 1px solid #6e695f;
}

#pageNav ul .active a {
  color: #6e695f;
}

#pageNav ul .active a :hover,
#pageNav ul .active a :active,
#pageNav ul .active a :visited,
#pageNav ul .active a :focus {
  color: #6e695f;
}

/**/

#page1 a,
#page2 a,
#page3 a,
#page4 a {
  float: right;
}

/**/

#worksItem {
  color: #6e695f;
}

#worksItem a {
  float: right;
}

#caseLocationMap {
  height: 300px;
  margin-top: 30px;
}

.backtoDiv .btn {
  margin-top: 40px;
}

/**/

#serviceIntro p {
  font-size: 16px;
  background-color: #6e695f;
  color: white;
  margin-top: 10px;
}

#serviceIntro hr {
  border-top: 1px solid #b9c832;
  width: 80%;
}

#contactSection {
  color: #6e695f;
  margin-top: 40px;
}

#contactSection h2 {
  color: #6e695f;
}

#contactSection hr {
  border-top: 1px solid #ccc;
}

#contactSection p {
  margin-left: 0px;
}

#contactSection .cantactSendBtn {
  float: right;
  margin-right: 10px;
}

.formDiv {
  padding-bottom: 20px;
}

