$ThemeMainColorDarker: rgba(60, 170, 63, 1);
$ThemeMainColor: rgba(185, 200, 50, 1);
$workItemMaskColor: rgba(0, 0, 0, 0.4);
$ThemeFootColor: rgba(110, 105, 95, 1);
$introContentTop: 20;
$introContentSpace: 40;
$contentWordColor: #777;
$footertWordColor: #777;
$hrBlodSolid: 10px;


