body{
  padding-top: 55px;
  background: whitesomke;
}
.content_block{
  background: white;
  border: 1px solid #EFEFEF;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  border-radius:5px;
  padding: 10px;
}
.well-next{
  margin-top:20px;
  
}
